footer {
  background-color: $dark;
  padding: 3rem 0;
  color: $plain-color;

  .copyright {
    .copyright_text {
      font-size: 0.875rem;
      vertical-align: bottom;
      @include phone {
        text-align: center;
        margin-bottom: 1rem;
      }
      a {
        color: $orange-yellow;
      }
    }
  }
  .social-btns {
    font-size: 1.25rem;
    vertical-align: top;
    text-align: right;
    @include phone {
      text-align: center;
    }
    a {
      color: $plain-color;
    }
  }
}
