footer {
  background-color: $dark;
  padding: 3rem 0;
  color: $plain-color;

  .copyright {
    font-size: 0.875rem;
    vertical-align: bottom;
    a {
      color: $orange-yellow;
    }
  }
  .social-btns {
    font-size: 1.25rem;
    vertical-align: top;
    a {
      color: $plain-color;
    }
  }
}
