.main-header {
  background: $plain-color;
  padding: 1.5rem 0;
  z-index: 1052;
  .header-container {
    display: flex;
    flex-direction: row;
    .logo {
      width: 4.6875rem;
    }
    .all-nav{
      display: flex;
      justify-content: flex-end;
      flex: 1;
    .navbar{
        justify-content: left;
        .navbar-nav{
          .nav-item{
            a{
              color: $primary-color;
              font-weight: 300;
              @include transition();
              &:hover{
                color: $secondary-color;
              }
            }
          }
        }
        
    }
    .extra-menu{
      align-items: center;
      flex-wrap: nowrap;
      justify-content: right;
      display: flex;
      a{
        margin-left: 10px;
        display: inline-block;
        color: $primary-color;
        font-weight: 300;
        line-height: 1.5rem;
        &.user-account{
          span{
            vertical-align: middle;
            &.avatar-img{
              width: 1.5rem;
              border-radius: 100%;
              display: inline-block;
              overflow: hidden;
              img{
                width: 100%;
                display: block;
              }
            }
            &.user-name{
              vertical-align: middle;
            }
          }
          
        }
      }
    }
  }
  }
}
