.main-header {
  background: $plain-color;
  padding: 1.5rem 0;
  z-index: 1052;
  .header-container {
    display: flex;
    flex-direction: row;
    .logo {
      width: 4.6875rem;
      display: flex;
    }
    .all-nav{
      display: flex;
      justify-content: flex-end;
      flex: 1;
    .navbar{
        justify-content: right;
        @include phone {
          padding: 20px 0;
        }
        .navbar-collapse{
          @include phone{
            text-align: right;
            margin-top: 1rem;
          }
        }
        .navbar-nav{
          .nav-item{
            a{
              color: $primary-color;
              font-weight: 300;
              @include transition();
              &:hover{
                color: $secondary-color;
              }
            }
            span{
              vertical-align: middle;
              &.avatar-img{
                width: 1.5rem;
                border-radius: 100%;
                display: inline-block;
                overflow: hidden;
                img{
                  width: 100%;
                  display: block;
                }
              }
              &.user-name{
                vertical-align: middle;
              }
            }
          }
        }
        
    }
    
  }
  }
}
