main {
  #banner {
    .carousel {
      margin-bottom: 4rem;
      .carousel-inner {
        .carousel-item {
          height: 32rem;
          isolation: isolate;
          position: relative;
          &::before {
            content: "";
            background: $dark;
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0.4;
          }
          .carousel-caption {
            bottom: 3rem;
            z-index: 10;
            h1 {
              // color: $primary-color;
            }
            p {
              // color: $secondary-color;
              margin-bottom: 1.25rem;
              font-size: 1.25rem;
              line-height: 1.4;
              font-weight: 100;
            }
            a{
                &.btn{
                    text-transform: uppercase;
                }
            }
          }
        }
      }
    }
  }
  #job-listing {
      padding-bottom: 5rem;
    h1 {
      margin-bottom: 3rem;
    }
    .job_listing {
      ul {
        border: 1px solid $dark;
        border-radius: 6px;
        li {
          &.single-listing {
            border-bottom: 1px solid $dark;
            margin: 0;
            padding: 1em;
            position: relative;
            &:last-child {
              border-bottom: none;
            }
          }
          a {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $font-color;
            .job_listing-position {
                border: none;
                flex-basis: 50%;
                h4{
                    color: $primary-color;
                }
                p{
                    font-size: .875rem;
                    color: $dark;
                }
            }
            .job_location {
              position: relative;
              flex-basis: 30%;
              color: $secondary-color;
              font-size: .875rem;
              &:before {
                font-family: "Font Awesome 5 Free"; 
                font-weight: 900; 
                content: "\f3c5";
                padding-right: 1rem;
                color: $font-color;
              }
            }
            .job_type {
                flex-basis: 15%;
              .button-type {
                padding: 0.5rem 2rem;
                border-radius: 5px;
                color: $plain-color;
                font-size: .875rem;
                text-transform: uppercase;
                width: 100%;
                text-align: center;
                display: block;
                &.part-time {
                  background-color: $medium-aquamarine;
                  opacity: .8;
                }
                &.full-time {
                  background-color: $vivid-tangerine;
                }
                &.freelance {
                  background-color: $orange-yellow;
                }
              }
            }
          }
        }
      }
    }
  }
}
