$primary-color: #0f4e7b;
$secondary-color: #005fae;
$font-color: #797979;
$plain-color: #FFF;
$medium-aquamarine: #60D394;
$mint-green: #AAF683;
$orange-yellow: #ffd97d;
$vivid-tangerine: #FF9B85;
$dark: #000;
$light-grey: #eee;
$dark-grey: #999;
$danger: #dc3545;
$margin: 1em;
$font-family: 'Montserrat', sans-serif;
$phone-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;