 <footer>
      <!-- ===== Start of Footer Copyright Section ===== -->
      <div class="copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <p class="copyright_text">
                Copyright &copy; 2021. Developed by
                <a href="#" class="text-uppercase">Runtime Terror</a>
              </p>
            </div>

            <div class="col-md-6 col-sm-12 text-end">
              <ul class="social-btns">
                <li class="list-inline-item">
                  <a class="social-facebook" href="#" target="_blank">
                    <i class="fab fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="social-twitter" href="#" target="_blank">
                    <i class="fab fa-github"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="social-insta" href="#" target="_blank">
                    <i class="fab fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- ===== End of Footer Copyright Section ===== -->
    </footer>