<header class="main-header">
  <div class="header-container container">
    <!-- ====== Start of Logo ====== -->
    <div class="logo">
      <a class="navbar-brand logo-wrapper" href="/" title="Career Headstart" rel="home">
        <!-- INSERT YOUR LOGO HERE -->
        <img src="/images/logo.svg" alt="Career Headstart" class="logo" />
      </a>
    </div>
    <!-- ====== End of Logo ====== -->
    <div class="all-nav">
      <!-- ====== Start of Main Menu ====== -->
      <nav class="navbar navbar-light navbar-expand-md">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/jobs">Jobs</a>
            </li>
            {{#if logged_in}}
            <li class="nav-item">
              <a class="nav-link" href="/profile" class="user-account">
                <span class="avatar-img">
                  <img alt=""
                    src="https://secure.gravatar.com/avatar/e1366724d9b66b00d71a6aa17ac47e02?s=40&#038;d=mm&#038;r=g"
                    class="avatar" />
                </span>
                <span class="user-name">Profile</span>
              </a>
            </li>
            <li class="nav-item icon-power">
              <a class="nav-link icon-power" id="logout" href="/">Logout</a>
            </li>
            {{else}}
            <li class="nav-item">
              <a class="nav-link icon-power" href="/login">Log in</a>
            </li>
            <li class="nav-item">
              <a class="nav-link icon-power" href="/signup">Sign up</a>
            </li>
            {{/if}}
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>