html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Montserrat", sans-serif; }

.h1, h1 {
  font-size: 2.5rem; }

.h2, h2 {
  font-size: 2rem; }

.h3, h3 {
  font-size: 1.5rem; }

.h4, h4 {
  font-size: 1.25rem; }

.h5, h5 {
  font-size: 1rem; }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5rem;
  font-weight: bold; }

a {
  text-decoration: none; }

.main-header {
  background: #FFF;
  padding: 1.5rem 0;
  z-index: 1052; }
  .main-header .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    .main-header .header-container .logo {
      width: 4.6875rem; }
    .main-header .header-container .all-nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }
      .main-header .header-container .all-nav .navbar {
        -webkit-box-pack: left;
        -ms-flex-pack: left;
        justify-content: left; }
        .main-header .header-container .all-nav .navbar .navbar-nav .nav-item a {
          color: #0f4e7b;
          font-weight: 300; }
          .main-header .header-container .all-nav .navbar .navbar-nav .nav-item a:hover {
            color: #005fae; }
      .main-header .header-container .all-nav .extra-menu {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-pack: right;
        -ms-flex-pack: right;
        justify-content: right;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .main-header .header-container .all-nav .extra-menu a {
          margin-left: 10px;
          display: inline-block;
          color: #0f4e7b;
          font-weight: 300;
          line-height: 1.5rem; }
          .main-header .header-container .all-nav .extra-menu a.user-account span {
            vertical-align: middle; }
            .main-header .header-container .all-nav .extra-menu a.user-account span.avatar-img {
              width: 1.5rem;
              border-radius: 100%;
              display: inline-block;
              overflow: hidden; }
              .main-header .header-container .all-nav .extra-menu a.user-account span.avatar-img img {
                width: 100%;
                display: block; }
            .main-header .header-container .all-nav .extra-menu a.user-account span.user-name {
              vertical-align: middle; }

main #banner .carousel {
  margin-bottom: 4rem; }
  main #banner .carousel .carousel-inner .carousel-item {
    height: 32rem;
    isolation: isolate;
    position: relative; }
    main #banner .carousel .carousel-inner .carousel-item::before {
      content: "";
      background: #000;
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0.4; }
    main #banner .carousel .carousel-inner .carousel-item .carousel-caption {
      bottom: 3rem;
      z-index: 10; }
      main #banner .carousel .carousel-inner .carousel-item .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
        font-weight: 100; }
      main #banner .carousel .carousel-inner .carousel-item .carousel-caption a.btn {
        text-transform: uppercase; }

main #job-listing {
  padding-bottom: 5rem; }
  main #job-listing h1 {
    margin-bottom: 3rem; }
  main #job-listing .job_listing ul {
    border: 1px solid #000;
    border-radius: 6px; }
    main #job-listing .job_listing ul li.single-listing {
      border-bottom: 1px solid #000;
      margin: 0;
      padding: 1em;
      position: relative; }
      main #job-listing .job_listing ul li.single-listing:last-child {
        border-bottom: none; }
    main #job-listing .job_listing ul li a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: #797979; }
      main #job-listing .job_listing ul li a .job_listing-position {
        border: none;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%; }
        main #job-listing .job_listing ul li a .job_listing-position h4 {
          color: #0f4e7b; }
        main #job-listing .job_listing ul li a .job_listing-position p {
          font-size: .875rem;
          color: #000; }
      main #job-listing .job_listing ul li a .job_location {
        position: relative;
        -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
        color: #005fae;
        font-size: .875rem; }
        main #job-listing .job_listing ul li a .job_location:before {
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          content: "\f3c5";
          padding-right: 1rem;
          color: #797979; }
      main #job-listing .job_listing ul li a .job_type {
        -ms-flex-preferred-size: 15%;
        flex-basis: 15%; }
        main #job-listing .job_listing ul li a .job_type .button-type {
          padding: 0.5rem 2rem;
          border-radius: 5px;
          color: #FFF;
          font-size: .875rem;
          text-transform: uppercase;
          width: 100%;
          text-align: center;
          display: block; }
          main #job-listing .job_listing ul li a .job_type .button-type.part-time {
            background-color: #60D394;
            opacity: .8; }
          main #job-listing .job_listing ul li a .job_type .button-type.full-time {
            background-color: #FF9B85; }
          main #job-listing .job_listing ul li a .job_type .button-type.freelance {
            background-color: #ffd97d; }

.btn-primary {
  background-color: #0f4e7b;
  border-color: #0f4e7b; }
  .btn-primary:hover {
    background-color: #005fae;
    border-color: #005fae; }

footer {
  background-color: #000;
  padding: 3rem 0;
  color: #FFF; }
  footer .copyright {
    font-size: 0.875rem;
    vertical-align: bottom; }
    footer .copyright a {
      color: #ffd97d; }
  footer .social-btns {
    font-size: 1.25rem;
    vertical-align: top; }
    footer .social-btns a {
      color: #FFF; }
